<!-- TODO: Replace sidedrawer mock -->
<div class="side-drawer-content">
  <div class="side-drawer-content__top-controls">
    <div class="side-drawer-header">
      <img src="assets/favicon.ico" alt="ng-logo" />
      <div class="side-drawer-header__username">Username</div>

      <div class="side-drawer-header__account-controls">
        <a class="side-drawer-header__account-controls__item">
          <span class="side-drawer-header__account-controls__text">
            View Account
          </span>
        </a>
        <a class="side-drawer-header__account-controls__item">
          <div class="side-drawer-header__account-controls__text">Logout</div>
        </a>
      </div>
    </div>
    <button class="side-drawer-content__button">
      <mat-icon class="side-drawer-content__button__icon">close</mat-icon>
    </button>
  </div>

  <div class="side-drawer-content__navigation">
    <a class="side-drawer-content__navigation__text"> Home </a>
    <a class="side-drawer-content__navigation__text"> Tickets </a>
    <a class="side-drawer-content__navigation__text"> Equipment </a>
    <a class="side-drawer-content__navigation__text"> Quotes </a>
    <a class="side-drawer-content__navigation__text"> Loyalty </a>
  </div>
</div>
