<!-- TODO: Replace dashboard mock -->
<div class="app-dashboard">
  <mat-grid-list cols="2" gutterSize="16" rowHeight="2:1">
    <mat-grid-tile>
      <h1>Tickets</h1>
      <mat-grid-tile-footer>
        <button mat-raised-button>Open</button>
      </mat-grid-tile-footer>
    </mat-grid-tile>

    <mat-grid-tile>
      <h1>Equipment</h1>
      <mat-grid-tile-footer>
        <button mat-raised-button>Open</button>
      </mat-grid-tile-footer>
    </mat-grid-tile>

    <mat-grid-tile>
      <h1>Quotes</h1>
      <mat-grid-tile-footer>
        <button mat-raised-button>Open</button>
      </mat-grid-tile-footer>
    </mat-grid-tile>

    <mat-grid-tile>
      <h1>Loyalty</h1>
      <mat-grid-tile-footer>
        <button mat-raised-button>Open</button>
      </mat-grid-tile-footer>
    </mat-grid-tile>
  </mat-grid-list>
</div>
