.banner {
  height: 160px;
  padding: 20px;
  display: flex;
  //   justify-content: left;
  align-items: center;
  background-color: rgb(85, 85, 85);
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}
